/OnTapJAVA/JavaApplication47/nbproject/private/
/OnTapJAVA/Bai1/nbproject/private/
/OnTapJAVA/Bai1/build/
/OnTapJAVA/Bai2/nbproject/private/
/OnTapJAVA/Bai2/build/
/OnTapJAVA/Bai3/nbproject/private/
/OnTapJAVA/Bai3/build/
/OnTapJAVA/Bai3/dist/
/OnTapJAVA/Bai4/nbproject/private/
/OnTapJAVA/Bai4/build/
/OnTapJAVA/Bai4/dist/
/OnTapJAVA/Bai5/nbproject/private/
/OnTapJAVA/Bai5/build/
/OnTapJAVA/Bai6/nbproject/private/
/OnTapJAVA/Bai6/build/
/OnTapJAVA/Bai7/nbproject/private/
/OnTapJAVA/Bai7/build/
/OnTapJAVA/Bai7/dist/
/OnTapJAVA/Bai8/nbproject/private/
/OnTapJAVA/Bai8/build/
/OnTapJAVA/Bai9/nbproject/private/
/OnTapJAVA/Bai10/nbproject/private/
/OnTapJAVA/Bai10/build/
/OnTapJAVA/Bai10/dist/
/OnTapJAVA/Bai9/build/
/OnTapJAVA/AuthSpringBoot/target/
